language: python
cache: pip
dist: xenial
python:
- '3.6'
- '3.7'
env:
  matrix:
  - TOXENV=docs
  - DJANGO=111
  - DJANGO=22
  - DJANGO=master
services:
  - redis
matrix:
  fast_finish: true
  allow_failures:
  - env: DJANGO=master
install:
- pip install --upgrade codecov tox
before_script:
- |
  if [[ -z $TOXENV ]]; then
    export TOXENV=py$(echo $TRAVIS_PYTHON_VERSION | sed -e 's/\.//g')-dj$DJANGO
  fi
- echo $TOXENV
script:
- tox -e $TOXENV
after_success:
- codecov
