language: python
sudo: false
cache: pip
python:
- '3.6'
env:
  matrix:
  - TOXENV=qa
  - TOXENV=docs
  - DJANGO=111
  - DJANGO=20
  - DJANGO=master
matrix:
  fast_finish: true
  allow_failures:
  - env: DJANGO=master
install:
- pip install --upgrade codecov tox
before_script:
- |
  if [[ -z $TOXENV ]]; then
    export TOXENV=py$(echo $TRAVIS_PYTHON_VERSION | sed -e 's/\.//g')-dj$DJANGO
  fi
- echo $TOXENV
script:
- tox -e $TOXENV
after_success:
- codecov
deploy:
  provider: pypi
  user: codingjoe
  password:
    secure: jJyadofJm7F1Qco+EDCyN/aMZaYSbfQ0GAE02Bx7I499MkjPYvv38X2btg+PjdW3rzGD0d/kq24lfWLkgKncyQ/YMgLQ7H/GuCCHHYbKUklxllaoFXActBjstmKOvXyWWC5oEb+YEJ4HTwgkvS6wkp69B7C1d4BAOqGs5IKnCSo=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: KristianOellegaard/django-health-check
    branch: master
