name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  pre-commit:
    if: startsWith(github.head_ref, 'dependabot/') != true
    name: pre-commit
    runs-on: ubuntu-latest
    outputs:
      file-names: ${{ steps.diff.outputs.file-names }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: echo "file-names=$(git diff --name-only ${{ github.event.pull_request.base.sha }} HEAD | grep '\.py$' | tr '\n' ' ' || true)" >> "$GITHUB_OUTPUT"
        id: diff
      - uses: astral-sh/setup-uv@v7
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit/
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - run: SKIP=$(yq '.ci.skip' -o csv .pre-commit-config.yaml) uvx pre-commit run --all-files --show-diff-on-failure
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv run --group docs sphinx-build -W -b doctest -b html docs docs/_build
  PyTest:
    runs-on: ubuntu-latest
    needs: [pre-commit]
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        django-version:
          - "4.2"
          - "5.2"
        exclude:
          - python-version: "3.9"
            django-version: "5.2"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run --with Django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python-${{ matrix.python-version }}-django-${{ matrix.django-version }}
