name: Release
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  gh-page-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv run mkdocs build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
  gh-page-deploy:
    needs: gh-page-build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
  pypi-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - uses: actions/upload-artifact@v6
        with:
          name: release-dists
          path: dist/
  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - pypi-build
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: release-dists
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
